header, h1, h2, footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* trying to center out of time */
#photo {
        display: flex;
        justify-content: center;
        align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    

}

* {
    font-family: 'Yusei Magic', sans-serif;

}